html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
  color: #bdc3c7;
  font-weight: 300;
  font-family: "Helvetica-Bold";
  font-size: 16px;
}
body > .full-screen {
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Helvetica-Bold";
}
.socialworker {
    margin:0 auto;
    text-align:center;
}
.featured-badge{
        color:#222222;
		width:100%;
        max-width:100%;
		display:inline-block;
		font-size:24px;
        margin-right:auto;
        margin-left:auto;
        text-align:center;
		font-weight:400;
	}
.contact-form {
display:inline-block;
text-align:left;
padding-bottom:40px;   
}
form {
    display:inline-block;
    text-align:center;
    margin:0 auto;
    width:100%;
}
::selection {
  background-color: #a8deb1;
  color: white;
  -o-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(113, 112, 107, 0.2);
}
::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #96d7a0;
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.2);
}
div.hz-divider {
  margin: 15px 0;
  clear: both;
  height: 1px;
  display: block;
  background-color: transparent;
}
div.hz-divider.tiny {
  margin: 5px 0;
}
div.hz-divider.small,
div.hz-divider.default {
  margin: 10px 0;
}
div.hz-divider.medium {
  margin: 20px 0;
}
div.hz-divider.large {
  margin: 30px 0;
}
div.hz-divider.x-large {
  margin: 45px 0;
}
.modal-backdrop.in {
  opacity: .8;
}
.back-to-top {
  position: fixed;
  right: 0;
  bottom: -150px;
  width: 50px;
  line-height: 50px;
  z-index: 15;
  color: #ffffff;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 2.5em;
}
.back-to-top.back-to-top-visible {
  bottom: 0;
}

/*#region Home Screen */
.home-screen {
  background-color: #f6f6f6;
  text-align: center;
  position: relative;
  padding: 1px;
  overflow: hidden;
  height: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  /*#region Slider Keyframes */

  /*#endregion */

}
.home-screen .home-screen-slider {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.home-screen .home-screen-slider .home-screen-slider-nav {
  border: 4px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 100;
  width: 48px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: white;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.home-screen .home-screen-slider .home-screen-slider-nav:hover {
  text-decoration: none;
  border: 4px solid #f6f6f6;
  border: 4px solid rgba(255, 255, 255, 0.9);
  color: #f5f7f7;
  border-radius: 50%;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: swing;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: swing;
  -o-backface-visibility: visible !important;
  -o-animation-name: swing;
  backface-visibility: visible !important;
  animation-name: swing;
}
.home-screen .home-screen-slider .home-screen-slider-nav:focus {
  outline: none;
}
.no-touch .home-screen .home-screen-slider .home-screen-slider-nav.prev-slide {
  left: -200px;
  opacity: 0;
}
.touch .home-screen .home-screen-slider .home-screen-slider-nav.prev-slide {
  left: 15px;
}
.no-touch .home-screen .home-screen-slider .home-screen-slider-nav.next-slide {
  right: -200px;
  opacity: 0;
}
.touch .home-screen .home-screen-slider .home-screen-slider-nav.next-slide {
  right: 15px;
}
.home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider {
  font-size: 18px;
}
.no-touch .home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider {
  opacity: 0;
}
.no-touch .home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider.left-align {
  left: -200px;
}
.no-touch .home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider.right-align {
  right: -200px;
}
.touch .home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider.left-align {
  left: 68px;
}
.touch .home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider.right-align {
  right: 68px;
}
.home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider .slider-playing {
  display: none;
}
.home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider.paused .slider-playing {
  display: inline-block;
  *display: inline;
}
.home-screen .home-screen-slider .home-screen-slider-nav.play-pause-home-screen-slider.paused .slider-paused {
  display: none;
}
.home-screen .home-screen-slider:hover .home-screen-slider-nav.prev-slide {
  left: 15px;
  opacity: 1;
}
.home-screen .home-screen-slider:hover .home-screen-slider-nav.next-slide {
  right: 15px;
  opacity: 1;
}
.home-screen .home-screen-slider:hover .home-screen-slider-nav.play-pause-home-screen-slider {
  opacity: 1;
}
.home-screen .home-screen-slider:hover .home-screen-slider-nav.play-pause-home-screen-slider.left-align {
  left: 68px;
}
.home-screen .home-screen-slider:hover .home-screen-slider-nav.play-pause-home-screen-slider.right-align {
  right: 68px;
}

.logosmall {
    margin:-38px 0px -30px 0px;
    width:13%;
    
}

.savemoney{
    font-size:2.5em;
    font-family:"Helvetica-Bold";
    color:#ffffff;
    text-align:center;
    margin:0 auto;
    
}

.HealthifyMain {
font-family: "Helvetica-Bold";
font-size: 80px;
color: #000000;
line-height: 96px;
margin-top:0px;
}
.paragraphmain {
font-family: "Helvetica-Light";
max-width:50%;
align-content:center;
    margin:0 auto;
font-size: 29px;
color: #000000;
padding-bottom:30px;
line-height: 45px;
}
.socialneeds {
    margin:0 auto;
    width:100%;
    min-width:20%;
    max-width:30%;
    margin-top:10px;
}
.healthify {
    margin-top:10px;
    width:100%;
    max-width:5%;
    position: relative;

}

.metricsicon {
    padding-top:100px;
    width:25%;
    margin:0 auto;
    text-align:center;
    display:block;
    justify-content:center;
    align-content:center;
}
/*#region Home Screen */
.home-screen {
  background-color: #f6f6f6;
  text-align: center;
  position: relative;
  padding: 1px;
  overflow: visible;
  height: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  /*#region Slider Keyframes */

  /*#endregion */

}
@media (max-width: 380px) {
 .HealthifyMain {20px;}
}

}
@media (max-width: 630px) {
.HealthifyM {
    font-size: 45px;
  }
}
@media (max-width: 480px) {
.HealthifyMain {
    font-size: 25px;
  }
}

@media (max-width: 380px) {
 .paragraphmain {12px;}
}

}
@media (max-width: 630px) {
.paragraphmain {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
.paragraphmain {
    font-size: 15px;
  }
}


}
@-webkit-keyframes shadowWrapIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}
@-moz-keyframes shadowWrapIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(-500%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
}
@-o-keyframes shadowWrapIn {
  0% {
    opacity: 0;
    -o-transform: translateX(-500%);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0px);
  }
}
@keyframes shadowWrapIn {
  0% {
    opacity: 0;
    transform: translateX(-500%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes shadowWrapOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
  }
}
@-moz-keyframes shadowWrapOut {
  0% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(500%);
  }
}
@-o-keyframes shadowWrapOut {
  0% {
    opacity: 1;
    -o-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -o-transform: translateX(500%);
  }
}
@keyframes shadowWrapOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(500%);
  }
}
.home-screen .next-screen {
  display: inline-block;
  position: absolute;
  font-size: 2.5em;
  color: #222222;
  bottom: 20px;
  left: 50%;
  width: 50px;
  text-align: center;
  margin-left: -25px;
  z-index: 15;
}
/*#endregion */

.linksout {
display:block;
margin-left:auto;
margin-right:auto;
position:inherit;
margin:0 auto;
padding-top:60px;
padding-left:440px;
}


.team:hover {
  color:#231f20;
  background:#ce4932;
    font-weight:500px;
}
.team{
padding:10px;
color:#ffffff;
background: #231f20;
border: 1px solid #ffffff;
font-family: "HelveticaNeue-Thin";
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
letter-spacing: 4px;
margin:35px;
margin-top:110px;
}

.feedback {
background: #ffffff;
border: 1px solid #ffffff;
background: #000000;
font-family: "HelveticaNeue-Thin";
font-size: 26px;
color: #FFFFFF;
line-height: 14px;
letter-spacing: 4px;
}
.bg-icon-abstract {
  position: absolute;
  color: transparent;
  color: rgba(255, 255, 255, 0.03);
  font-size: 30em;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-animation: 40s wobble infinite;
  -moz-animation: 40s wobble infinite;
  -o-animation: 40s wobble infinite;
  -webkit-animation: 40s wobble infinite;
  animation: 40s wobble infinite;
  width: 100%;
  overflow: hidden;
}
.no-cssanimations .bg-icon-abstract {
  display: none;
}
@media (max-width: 1200px) {
  .bg-icon-abstract {
    font-size: 40em;
  }
}
@media (max-width: 992px) {
  .bg-icon-abstract {
    font-size: 30em;
  }
}
@media (max-width: 768px) {
  .bg-icon-abstract {
    font-size: 30em;
  }
}
@media (max-width: 480px) {
  .bg-icon-abstract {
    font-size: 20em;
  }
}
/*#region Global Styles */
.btn > .fa {
  margin-right: 5px;
}
.btn.btn-brand {
  background-color: #f3cb63;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: none;
  color: white;
}
.btn.btn-brand:hover {
  background-color: #ce4932;
  border: none;
}
.btn.btn-brand:active {
  border: none;
}
.btn.btn-brand.btn-lg {
  padding: 12px 18px;
}
.theme-color {
  color: #f3cb63;
}
/*#endregion */
/*#region Navigation */
.navbar {
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border: none;
}
.no-boxshadow .navbar {
  border-bottom: 1px solid #dde4e6;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: normal;
  font-family: "Helvetica-Light";
}
.navbar-default .navbar-nav > a {
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #f3cb63;
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a > i,
.navbar-default .navbar-nav > .active > a:hover > i,
.navbar-default .navbar-nav > .active > a:focus > i,
.navbar-default .navbar-nav > .active > a .fa,
.navbar-default .navbar-nav > .active > a:hover .fa,
.navbar-default .navbar-nav > .active > a:focus .fa,
.navbar-default .navbar-nav > .active > a .theme-color,
.navbar-default .navbar-nav > .active > a:hover .theme-color,
.navbar-default .navbar-nav > .active > a:focus .theme-color {
  color: #f6f6f6;
}
.site-navigation {
  position: fixed;
  top: -500px !important;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.features .features-slider-nav {
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
  margin: 0;
  padding: 0;
}
.features .features-slider-nav li {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  cursor: pointer;
}
.features .features-slider-nav li.active {
  background-color: #4cbb5d;
}
.site-navigation.nav-visible {
  top: 0!important;
}
/*#endregion */
/*#region Services */
.service-item {
  padding: 100px 0;
  background-color: #ce4932;
  overflow-x: hidden;
}
.service-item .bg-icon-abstract {
  color: rgba(150, 215, 160, 0.05);
}
.service-item .service-title {
  color: #ffffff;
  font-size: 4em;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 25px;
}
.service-item .service-text {
  font-family: "HelveticaNeue-Light";    
  font-size: 2em;
  color: #ffffff;
  margin-top:0px;
}
.service-item .service-icon {
  font-size:20em;
  color: #ffffff;
  display: inline-block;
}

.service-item .service-img {
    width:100%;
    width:18em;
    color: #ffffff;
    display: inline-block; 
}
.service-item .service-content {
  padding-top: 80px;
}

@media (max-width: 1200px) {
  .service-item .service-content {
    padding-top: 70px;
  }
  .service-item .service-icon {
    font-size: 22em;
  }
  .service-item .service-title {
    font-size: 3.5em;
  }
  .service-item .service-text {
    font-size: 1.6em;
  }
  .service-item .service-img {
    
}
}
@media (max-width: 992px) {
  .service-item .service-content {
    padding-top: 30px;
  }
  .service-item .service-icon {
    font-size: 16em;
  }
  .service-item .service-title {
    font-size: 3em;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .service-item .service-text {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .service-item {
    text-align: center;
  }
  .service-item .service-content {
    padding-top: 30px;
  }
}
.service-item.service-item-right-align .service-title,
.service-item.service-item-right-align .service-text {
  text-align: right;
}
@media (max-width: 768px) {
  .service-item.service-item-right-align .service-title,
  .service-item.service-item-right-align .service-text {
    text-align: center;
  }
}
.service-item.theme-bg {
  background-color: #28abb6;
  -o-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  -ms-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
}
.service-item.theme-bg .service-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.service-item.Manage {
  background-color: #96d7a0;
  -o-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  -ms-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
  box-shadow: inset 0 50px 50px -50px rgba(0,0,0,.1),inset 0 -50px 50px -50px rgba(0,0,0,.1);
}
/*#endregion */
/*#region Pricing */
.pricing {
  background-color: #231f20;
  padding: 50px 0;
  margin-bottom:0px;
  position: relative;
  overflow: hidden;
}
.pricing .bg-icon-abstract {
  -ms-animation: 20s wobble infinite;
  -moz-animation: 20s wobble infinite;
  -o-animation: 20s wobble infinite;
  -webkit-animation: 20s wobble infinite;
  animation: 20s wobble infinite;
}
.pricing .pricing-table-item {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  text-align: center;
  border-radius: 3px;
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .pricing .pricing-table-item {
    margin-bottom: 35px;
  }
}
/*#endregion */
/*#region Contact */
.contact {
  background-color: #f6f6f6;
  overflow-x: hidden;
}
.contact-section-header {
  padding-top: 50px;
    margin-right:auto;
    margin-left:auto;
  text-align: center;
  margin-bottom: 70px;
}
.contact-section-header .contact-section-title {
  font-size: 2.6em;
  font-family:Helvetica-Bold;
}
.contact-section-header .contact-section-subtitle {
  font-size: 1.7em;
  font-family:Helvetica-Light;
}
.contact-form .form-control {
  background-color: #e8eaeb;
  border: none;
  min-height: 54px;
  margin-bottom: 5px;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  border-radius: 3px;
}
.contact-form .form-control:focus {
  background-color: #e0e3e3;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form .form-control:-moz-placeholder {
  color: #c0c5c6;
}
.contact-form .form-control::-moz-placeholder {
  color: #c0c5c6;
}
.contact-form .form-control:-ms-input-placeholder {
  color: #c0c5c6;
}
.contact-form .form-control::-webkit-input-placeholder {
  color: #c0c5c6;
}
.contact-details .contact-details-title {
  margin-top: 0;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .contact-details {
    padding-top: 50px;
    text-align: center;
  }
}

.main-footer {
margin:20px;
  text-align: center;

}

.social {
    display:inline-block;
    margin:0 auto;
    text-align:center;
}
.main-footer .socials {
    list-style-position:inside;
    display:inline-block;
    margin:0 auto;
    text-align:center;
    background-color: #f6f6f6;
}
.main-footer .socials a {
  display: inline-block;
  text-align: center;
  color: #bdc3c7;
  font-size: 1.5em;
}
.main-footer .socials a > img {
  width: 100%;
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.main-footer .copyright {
  margin-top:10px;
  padding: 10px 10px;
  background-color: #f6f6f6;
  -o-box-shadow: inset 0 100px 50px -100px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 100px 50px -100px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 100px 50px -100px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 100px 50px -100px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 100px 50px -100px rgba(0, 0, 0, 0.05);
}
.main-footer .copyright p {
  margin: 0;
}
/*#endregion */
/*#region On Scroll Animations */
.cssanimations [data-animation] {
  opacity: 0;
}
/*#endregion */
